.label {
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;

  &.inputError {
    outline: red 2px solid;
  }
}

.inputFile {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.tags {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  overflow-x: auto;
  padding: 0.5rem;
  width: 100%;

  &.inputError {
    outline: red 2px solid;
  }

  & > .value {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    margin-right: 0.5rem;
    padding: 0.5rem;
    white-space: nowrap;
  }
}

.inputTags {
  border: none;
  flex: 1;
  min-width: 200px;
}

.inputFileWrapper {
  align-items: center;
  display: flex;
  overflow: hidden;

  & > div {
    color: #fff;
    padding-left: 1rem;
  }
}

.group {
  margin-bottom: 0.75rem;
}

.error {
  color: red;
  font-size: 0.825rem;
  font-weight: 500;
  margin-top: 0.25rem;
}

.textarea {
  resize: none;
}
