.header {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.submit {
  background-color: #4ea5d9;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: 700;
  margin-left: auto;
  min-width: 160px;
  padding: 0.5rem 1rem;
}
